* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f9;
}

.container {
  width: 100%;
  padding-inline: 3%;
}

input,
textarea {
  outline: none;
  border: none;
}
input:focus,
textarea:focus {
  border: none;
  outline: none;
}

h2.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

aside {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 0 10px #ddd;
  height: 100%;
}
@media (max-width: 768px) {
  aside {
    padding: 5px;
  }
}
aside .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
aside .container .logo {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 1.5rem;
  padding-bottom: 20px;
}
aside .container .logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 3px;
  background-color: black;
}
@media (max-width: 768px) {
  aside .container .logo::before {
    width: 100%;
  }
}
aside .container .logo::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: black;
  border: 4px solid white;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
aside .container nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
aside .container nav ul li {
  border-radius: 5px;
}
aside .container nav ul li.active {
  background-color: rgba(136, 136, 136, 0.15);
}
aside .container nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  aside .container nav ul li a span {
    display: none;
  }
}

main {
  width: calc(100% - 192.58px);
  margin-left: auto;
  background-color: #f1f5f9;
}
@media (max-width: 768px) {
  main {
    width: calc(100% - 70px);
  }
}

header {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: white;
  width: 100%;
}
@media (max-width: 768px) {
  header {
    padding: 20px 15px;
  }
}
header .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: relative;
}
header .search::before {
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
}
header .search input {
  padding-left: 35px;
  width: 150px;
  padding-right: 5px;
  padding-block: 10px;
  border-radius: 8px;
  transition: 0.3s;
  border: 1px solid rgba(136, 136, 136, 0.5);
}
header .search input:active, header .search input:focus {
  width: 160px;
}
header .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
header .icons .profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
header .icons .profile-image img {
  border-radius: 50%;
}
header .icons .notification {
  position: relative;
}
header .icons .notification::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  right: -6px;
  top: -6px;
  background-color: #f44336;
}

.main-title {
  margin-top: 20px;
  font-size: 2.2rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
}
.main-title::before {
  width: 90%;
  background-color: white;
}
.main-title::after {
  width: 30%;
  background-color: black;
  z-index: 1;
}

main .main-title {
  margin-bottom: 40px;
}
main .flex {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  main .flex {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    gap: 20px;
    flex-direction: column-reverse;
  }
}
main .flex .statistics {
  padding: 20px;
  min-width: 260px;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
}
main .flex .statistics .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
main .flex .statistics .box:not(:last-child) {
  margin-bottom: 20px;
}
main .flex .statistics .box.pdf i {
  color: #0075ff;
  background-color: #cce3ff;
}
main .flex .statistics .box.images i {
  color: #22c55e;
  background-color: #bff4d3;
}
main .flex .statistics .box.word i {
  color: #f44336;
  background-color: #fccbc7;
}
main .flex .statistics .box.csv i {
  color: #f59e0b;
  background-color: #fdeccf;
}
main .flex .statistics .box .main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  gap: 10px;
}
main .flex .statistics .box .main i {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
main .flex .statistics .box .main .info .name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
}
main .flex .statistics .box .main .info .number {
  color: #888;
  font-size: 13px;
}
main .flex .statistics .box .size {
  color: #888;
  font-size: 13px;
}
main .flex .files {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
main .flex .files .file {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
main .flex .files .file i {
  position: absolute;
  color: #888;
  top: 10px;
  left: 10px;
}
main .flex .files .file .image {
  text-align: center;
  margin-block: 15px;
}
main .flex .files .file .image img {
  width: 64px;
  height: 64px;
}
main .flex .files .file .name {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
main .flex .files .file .uploader {
  font-size: 13px;
  color: #888;
  margin-block: 13px;
}
main .flex .files .file .other-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 13px;
  color: #888;
}